
@using System.Security.Claims
@if (User.Identity.IsAuthenticated)


{
    var identity = User.Identity as ClaimsIdentity;
    var managerDisplay = "none";
    var adminDisplay = "none";

    if ((identity.Claims.Any(c => c.Type == "groups" && c.Value.Equals("cac297fa-e30d-4085-bf10-06e38a94b3f7"))) == true)
    {
        adminDisplay = "block";


    }
    if ((identity.Claims.Any(c => c.Type == "groups" && c.Value.Equals("1f6eeeba-fa1a-4d51-bbba-f0bf6b2a7d4f"))) == true)
    {
        managerDisplay = "block";
        adminDisplay = "block";

    }
    <head>


        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script scr="jquery-2.1.4.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="~/js/bootbox.js"></script>
        <script type="text/javascript">
            var sponsorFirstName = "";
            var sponsorLastName = "";
            var sponsorName = "";
            $(document).ready(function () {
                $("#loader-wrapper").hide();
                sponsorFirstName = "";
                sponsorLastName = "";
                sponsorName = "";
            GetTeamNames();
            $('#sponsorDetails').hide();
            $('#reportingManagerEmailId').hide();
            $('#sponsorGidHidden').hide();
        });
        function GetTeamNames() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetSponsorDetails", "Teams")',
                dataType: "json",
                success: function (response) {
                    $('#teamNames').append(
                        $('<option selected disabled hidden></option>').val('').html('Choose Here')
                    );
                    $.each(response, function (i, item) {

                        $('#teamNames').append($('<option>', {
                            value: item.teamName,
                            text: item.teamName
                        }));

                    });
                }
            })
            }

        $(document).on("change", "#teamNames", function (e) {
            var teamName = $('#teamNames').val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetSponsorDetails", "Teams")',
                dataType: "json",
                success: function (response) {


                    $.each(response, function (i, item) {
                        if (item.teamName == teamName) {
                            sponsorFirstName = item.sponsorFirstName;
                            sponsorLastName = item.sponsorLastName;
                            sponsorName = item.sponsorFirstName + " " + item.sponsorLastName;
                            $('#sponsorName').val(sponsorName);
                            $('#sponsorEmail').val(item.sponsorEmailID);
                            $('#sponsorDepartment').val(item.department);
                            $('#sponsorGid').val(item.sponsorGID);
                            $('#reportingManagerEmail').val(item.reportingManagerEmailID);
                            $('#sponsorDetails').show();
                        }
                    });
                }
            })
        });
            var clicked = true;
            var preview = false;
            let pdfPreviewWindow = null;
            $(document).on("click", "#previewButton , #submitButton", function (e) {

                if (e.currentTarget.id == "previewButton") {
                    preview = true;
                }
                else {
                    preview = false;
                }
                if (clicked) {
                    clicked = false;
                    $("#loader-wrapper").show();

                fileData = new FormData();
                fileData.append('FirstName', $('#siemensFirstName').val());
                fileData.append('LastName', $('#siemensLastName').val());
                fileData.append('GId', $('#siemensGid').val());
                fileData.append('EmailID', $('#siemensEmail').val());
                fileData.append('TeamName', $('#teamNames').val());
                fileData.append('SponsorFirstName', sponsorFirstName);
                fileData.append('SponsorLastName', sponsorLastName);
                fileData.append('SponsorEmailID', $('#sponsorEmail').val());
                fileData.append('SponsorDepartment', $('#sponsorDepartment').val());
                fileData.append('SponsorGId', $('#sponsorGid').val());
                fileData.append('ReportingManagerEmail', $('#reportingManagerEmail').val());
                fileData.append('Role', $('#role').val());
                fileData.append('Gender', $('#gender').val());
                fileData.append('DateOfBirth', $('#dateOfBirth').val());
                fileData.append('PlaceOfBirth', $('#placeOfBirth').val());
                fileData.append('Address', $('#address').val());
                fileData.append('PhoneNo', $('#phoneNo').val());
                fileData.append('Nationality', $('#nationality').val());
                fileData.append('ActivationDate', new Date().toLocaleDateString());
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddDetailsToDatabase", "Employees")',
                    dataType: "json",
                    data: fileData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response) {
                            $("#loader-wrapper").show();
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("CreateActivationPdf", "Pdf")',
                                data: { 'gId': $('#siemensGid').val() },
                                dataType: "json",
                                success: function (response) {
                                    if (response) {
                                        $("#loader-wrapper").hide();
                                        clicked = true;
                                        if (preview){
                                            pdfPreviewWindow = window.open("", "width=500,height=500,top=100,left=500", '_self')
                                            pdfPreviewWindow.document.write("<title>Deactivation Form PDF</title><iframe width='100%' height='100%' src='" + response + "'></iframe>")
                                        }
                                        bootbox.confirm
                                            ({
                                                message: "Do you wish to submit? no further changes can be made to the pdf after submission",
                                                buttons: {
                                                    confirm: {
                                                        label: 'Yes',
                                                        className: 'btn-class-here'
                                                    },
                                                    cancel: {
                                                        label: 'No',
                                                        className: 'btn-class-here'
                                                    }
                                                },
                                                callback: function (result) {
                                                    if (result) {
                                                        if (preview) {
                                                            pdfPreviewWindow.window.close();
                                                        }
                                                        $("#loader-wrapper").show();
                                                        $.ajax({
                                                            type: "POST",
                                                            url: '@Url.Action("AddActivationPdfToDatabase", "Employees")',
                                                            data: { 'pdf': response.toString().replace('data:application/pdf;base64,', ''), 'gId': $('#siemensGid').val() },
                                                            success: function () {
                                                                $.ajax({
                                                                    type: "POST",
                                                                    url: '@Url.Action("PdfAttachmentEmail", "Email")',
                                                                    data: { 'pdfFileArray': response.toString().replace('data:application/pdf;base64,', ''), 'employeeName': $('#siemensFirstName').val() + " " + $('#siemensLastName').val(), 'teamName': $('#teamNames').val(), 'siemensGID': $('#siemensGid').val(), 'isActivationPDf': true },
                                                                    success: function (response) {
                                                                            fileData = new FormData();
                                                                        fileData.append('EmployeeId', $('#siemensGid').val());
                                                                        fileData.append('EmployeeName', $('#siemensFirstName').val() + " " + $('#siemensLastName').val());
                                                                        fileData.append('UpdateConsolidateIoTResourcesList', "false");
                                                                        fileData.append('BirthdayListUpdated', "false");
                                                                        fileData.append('EmailIdAddedToTeamDL', "false");
                                                                        fileData.append('MemberAddedToTimesheet', "false");
                                                                        fileData.append('InitiateHardwareShipmentRequest', "false");
                                                                        fileData.append('MemberDetailsUpdatedInEDMTTool', "false");
                                                                        fileData.append('InductionPlanAssignment', "false");
                                                                        fileData.append('InductionTrainingRecordUpdated', "false");
                                                                        fileData.append('VivekEcampusListUpdated', "false");
                                                                        fileData.append('ReportingManagerEmail', $('#reportingManagerEmail').val());
                                                                        fileData.append('ActivationDate', new Date().toLocaleDateString());
                                                                        $.ajax({
                                                                            type: "POST",
                                                                            url: '@Url.Action("AddActivationTaskToDatabase", "ManagerApproval")',
                                                                            data: fileData,
                                                                            processData: false,
                                                                            contentType: false,
                                                                            success: function (stream) {
                                                                                $("#loader-wrapper").hide();
                                                                                bootbox.alert("Your form has been sent sucessfully!");
                                                                                document.getElementById('siemensFirstName').value = "";
                                                                                document.getElementById('siemensLastName').value = "";
                                                                                document.getElementById('siemensEmail').value = "";
                                                                                document.getElementById('siemensGid').value = "";
                                                                                document.getElementById('teamNames').value = "";
                                                                                document.getElementById('role').value = "";
                                                                                document.getElementById('gender').value = "";
                                                                                document.getElementById('dateOfBirth').value = "";
                                                                                document.getElementById('placeOfBirth').value = "";
                                                                                document.getElementById('address').value = "";
                                                                                document.getElementById('phoneNo').value = "";
                                                                                document.getElementById('nationality').value = "";
                                                                                $('#sponsorDetails').hide();
                                                                            }
                                                                        });
                                                                    }

                                                                });
                                                            }
                                                        })

                                                    }
                                                    if (result == false) {
                                                      $.ajax({
                                                        type: "POST",
                                                        url: '@Url.Action("DeleteActivationDetails", "Employees")',
                                                          data: { 'gId': $('#siemensGid').val() },
                                                        dataType: "json",
                                                          success: function (r) { }
                                                    });
                                                    }
                                                }
                                            });
                                    }
                                }
                            });
                        }
                        else {
                            alert("An error has occured please try again")
                        }
                    }
                });
            }
            });


            function Validatephonenumber() {
                var phoneno = /^[0-9+-\s]+$/;

                if ($('#phoneNo').val().trim().search(phoneno)){
                    document.getElementById('phoneNo').style.borderColor = 'red';
                    $('#employeePhoneNoError').show();
                    return false;
                } else {
                    document.getElementById('phoneNo').style.borderColor = 'grey';
                    $('#employeePhoneNoError').hide();
                    return true;
                }
            }


            var Regx = "^[A-Za-z ]+$";
        function ValidateFirstName() {
            if ($('#siemensFirstName').val().trim().search(Regx)) {
                document.getElementById('siemensFirstName').style.borderColor = 'red';
                $('#siemensFNameError').show();
                return false;
            } else {
                document.getElementById('siemensFirstName').style.borderColor = 'grey';
                $('#siemensFNameError').hide();
                return true;
            }
        }
        function ValidateLastName() {
            if ($('#siemensLastName').val().trim().search(Regx)) {
                document.getElementById('siemensLastName').style.borderColor = 'red';
                $('#siemensLNameError').show();
                return false;
            } else {
                document.getElementById('siemensLastName').style.borderColor = 'grey';
                $('#siemensLNameError').hide();
                return true;
            }
        }
            function ValidatePOB() {
                if ($('#placeOfBirth').val().trim().search(Regx)) {
                    document.getElementById('placeOfBirth').style.borderColor = 'red';
                    $('#pobError').show();
                    return false;
                } else {
                    document.getElementById('placeOfBirth').style.borderColor = 'grey';
                    $('#pobError').hide();
                    return true;
                }
            }

            function ValidateNationality() {
                if ($('#nationality').val().trim().search(Regx)) {
                    document.getElementById('nationality').style.borderColor = 'red';
                    $('#nationalityError').show();
                    return false;
                } else {
                    document.getElementById('nationality').style.borderColor = 'grey';
                    $('#nationalityError').hide();
                    return true;
                }
            }

        function checkDate() {
            var seletedDate = document.getElementById('dateOfBirth').value;
            var now = new Date();
            var dt1 = Date.parse(now),
                dt2 = Date.parse(seletedDate);
            if (dt2 > dt1) {
                document.getElementById('dateOfBirth').style.borderColor = 'red';
                $('#dobError').show();
                return false;
            } else {
                document.getElementById('dateOfBirth').style.borderColor = 'grey';
                $('#dobError').hide();
                return true;
            }
        }

        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        function ValidateEmail() {
            if ($('#siemensEmail').val().trim().search(expr)) {
                document.getElementById('siemensEmail').style.borderColor = 'red';
                $('#siemensEmailError').show();
                return false;
            } else {
                document.getElementById('siemensEmail').style.borderColor = 'grey';
                $('#siemensEmailError').hide();
                return true;
            }
        }

        $(function () {
            $("#submitButton , #previewButton").click(function (e) {
                if (document.getElementById('siemensFirstName').value == "" || ValidateFirstName() == false) {
                    alert("Please provide your First Name");
                    document.getElementById('siemensFirstName').focus();
                    return false;
                }
                if (document.getElementById('siemensLastName').value == "" || ValidateLastName() == false) {
                    alert("Please provide your Last Name");
                    document.getElementById('siemensLastName').focus();
                    return false;
                }
                if (document.getElementById('siemensEmail').value == "" || ValidateEmail() == false) {
                    alert("Please provide your Email");
                    document.getElementById('siemensEmail').focus();
                    return false;
                }
                if (document.getElementById('siemensGid').value == "") {
                    alert("Please provide your siemens GID");
                    document.getElementById('siemensGid').focus();
                    return false;
                }
                if (document.getElementById('teamNames').value == "") {
                    alert("Please select your team");
                    return false;
                }
                if (document.getElementById('role').value == "") {
                    alert("Please provide your role");
                    document.getElementById('role').focus();
                    return false;
                }
                if (document.getElementById('gender').value == "") {
                    alert("Please select your gender");
                    return false;
                }

                if (document.getElementById('dateOfBirth').value == "" || checkDate() == false) {
                    alert("Please provide your date of birth");
                    document.getElementById('dateOfBirth').focus();
                    return false;
                }
                if (document.getElementById('placeOfBirth').value == "") {
                    alert("Please provide your place of birth");
                    document.getElementById('placeOfBirth').focus();
                    return false;
                }
                if (document.getElementById('address').value == "") {
                    alert("Please provide your address");
                    document.getElementById('address').focus();
                    return false;
                }
                if (document.getElementById('phoneNo').value == "" || Validatephonenumber() == false) {
                    alert("Please provide your phone number");
                    document.getElementById('phoneNo').focus();
                    return false;
                }
                if (document.getElementById('nationality').value == "" || ValidateNationality() == false) {
                    alert("Please provide your nationality");
                    document.getElementById('nationality').focus();
                    return false;
                }

            });
        });

        </script>

        <style>

            #header {
                padding: 15px;
                margin-bottom: 36px;
                background-color: black;
            }

            #headerText {
                text-align: center;
                font-size: 30px;
                color: white;
                position: absolute;
                margin-left: 35%;
                margin-top: 5px;
            }

            .loader-wrapper {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(1,1,1,0.7);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .loader{
                display: inline-block;
                width:30px;
                height:30px;
                position: relative;
                border: 4px solid white;
                animation: loader 2s infinite ease;
            }
            .loader-inner{
                vertical-align:top;
                display:inline-block;
                width:100%;
                background-color:azure;
                animation: loader-inner 2s infinite ease-in;
            }

            .form-group.required .control-label:after {
                content: "*";
                color: red;
            }

            body {
                overflow-x: hidden;
            }

            @@keyframes loader {
              0% { transform: rotate(0deg);}
              25% { transform: rotate(180deg);}
              50% { transform: rotate(180deg);}
              75% { transform: rotate(360deg);}
              100% { transform: rotate(360deg);}
            }
            @@keyframes loader-inner {
              0% { height: 0%;}
              25% { height: 0%;}
              50% { height: 100%;}
              75% { height: 100%;}
              100% { height: 0%;}
            }


            #configureButton, #sponsorDetailsButton, #viewReportButton, #workflowButton, #deactivationStatusButton, #activationStatusButton {
                margin-left: 89%;
                color: white;
            }


                #configureButton:hover, #sponsorDetailsButton:hover, #viewReportButton:hover, #workflowButton:hover, #deactivationStatusButton:hover, #activationStatusButton:hover{
                    font-size: 102%;
                    color: darkgrey;
                    cursor: default;
                }

            .regular-field {
                text-align: center;
            }

            .form {
                margin-top: 32px;
                margin-left: 33%;
            }

            #TextField {
                white-space: nowrap;
                padding-left: 0px;
            }

            #hello {
                color: blue;
                font-size: 17px;
                text-align: center;
            }

            #inputTextbox {
                margin-left: 70px;
                width: 400px;
            }

            .ErrorView {
                color: red;
                margin-left: 183px;
            }

            #radio-1-txt {
                margin-right: 10px;
            }

            .regular-field {
                text-align: center;
            }

            .radio-but1 {
                margin-right: 5px;
            }

            #radio-1-txt {
                margin-right: 10px;
            }

            @@media only screen and (max-width:880px) {
                .regular-field {
                    position: relative;
                }

                .ErrorView {
                    margin-left: 80px;
                }

                #submitButton {
                    position: center;
                }

                .headerText {
                    position: relative;
                }
            }
        </style>


    </head>

    <body>
        <nav class="navbar navbar sticky-top" id="header">
            <a class="navbar-brand" id="headerText">Employee Activation Form </a>
            <div id="sponsorDetailsButton" style="display:@managerDisplay" onclick="window.open('@Url.Action("AdminPage", "Admin")','_self')">Sponsor Details</div>
            <div id="configureButton" style="display:@managerDisplay" onclick="window.open('@Url.Action("AdminConfigurationPage", "Admin")','_self')">Configuration</div>
            <div>
                <div id="viewReportButton" style="display:@adminDisplay" onclick="window.open('@Url.Action("AccountDeactivationDatePage", "Admin")','_self')">View Report</div>

            </div>
            <div>
                <div id="workflowButton" style="display:@adminDisplay" onclick="window.open('@Url.Action("ManagerApprovalPage", "ManagerApproval")','_self')">Workflow</div>
            </div>
            <div>
                <div id="deactivationStatusButton" style="display:@adminDisplay" onclick="window.open('@Url.Action("DeactivationStatus", "ManagerApproval")','_self')">Deactivation Status</div>
            </div>
            <div>
                <div id="activationStatusButton" style="display:@adminDisplay" onclick="window.open('@Url.Action("ActivationStatus", "ManagerApproval")','_self')">Activation Status</div>
            </div>
        </nav>

            <div class="regular-field">
                <input type="radio" id="radio-seven" name="notaswitch-one" value="maybe" onclick="window.open('@Url.Action("EmployeeDeactivationForm", "Employees")','_self')" />
                <label for="radio-seven" id="radio-1-txt">Deactivation Form</label>

                <input type="radio" id="radio-six" name="notaswitch-one" value="yes" checked onchange="window.open('@Url.Action("EmployeeActivationForm", "Employees")','_self')" />
                <label for="radio-six" id="radio-1-txt">Activation Form</label>

            </div>
            <div class="form">
                <form class="form-group required" action="Create">

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            First Name:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="siemensFirstName" onkeyup="ValidateFirstName()" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label id="siemensFNameError" hidden class="ErrorView">only Alphabets are allowed</label>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Last Name:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="siemensLastName" onkeyup="ValidateLastName()" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label id="siemensLNameError" hidden class="ErrorView">only Alphabets are allowed</label>
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Siemens Email Id:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="siemensEmail" placeholder="Email" onkeyup="ValidateEmail()" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label id="siemensEmailError" hidden class="ErrorView">Invalid Email Format</label>
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Siemens GID:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="siemensGid" placeholder="GID" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label id="TextField" class="control-label col-sm-1">
                            Select Team :
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <select id="teamNames" class="form-control"></select>
                        </div>
                    </div>

                    <div id="sponsorDetails">

                        <div class="form-group row">
                            <label class="control-label col-sm-1" id="TextField">
                                Sponsor Name:
                            </label>
                            <div class="col-sm-3" id="inputTextbox">
                                <input type="text" class="form-control" id="sponsorName" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-1" id="TextField">
                                Sponsor Email:
                            </label>
                            <div class="col-sm-3" id="inputTextbox">
                                <input type="text" class="form-control" id="sponsorEmail" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-sm-1" id="TextField">
                                Sponsor Department:
                            </label>
                            <div class="col-sm-3" id="inputTextbox">
                                <input type="text" class="form-control" id="sponsorDepartment" readonly />
                            </div>
                        </div>

                    </div>
                    <div id="sponsorGidHidden">
                        <input type="text" class="form-control" id="sponsorGid" readonly />
                    </div>

                    <div id="reportingManagerEmailId">
                        <input type="text" class="form-control" id="reportingManagerEmail" readonly />
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Role:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="role" placeholder="Role" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label id="TextField" class="control-label col-sm-1">
                            Gender:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <select id="gender" class="form-control">
                                <option value="" selected>Choose Here</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Date Of Birth:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="date" class="form-control" id="dateOfBirth" onchange="checkDate()" min="1940-05-01" max="2015-01-01" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label id="dobError" hidden class="ErrorView">Date of birth should not be in the future</label>
                    </div>


                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Place of Birth:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="placeOfBirth" placeholder="POB" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label id="pobError" hidden class="ErrorView">only Alphabets are allowed</label>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Address:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="address" placeholder="address" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Phone no:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="phoneNo" onkeyup="Validatephonenumber()" placeholder="Phone No" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label id="employeePhoneNoError" hidden class="ErrorView">only numbers are accepted </label>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Nationality:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="nationality" onkeyup="ValidateNationality()" placeholder="Nationality" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label id="nationalityError" hidden class="ErrorView">only Alphabets are allowed</label>
                    </div>


                    <div class="form-group row" style="padding-left:2px ">
                        <br />
                        <input type="button" value="Preview Pdf" class="btn btn-primary" style="margin-right:5px" id="previewButton" />
                        <input type="button" value="Submit" class="btn btn-success" id="submitButton" />
                    </div>

                    <div class="loader-wrapper" id="loader-wrapper">
                        <span class="loader"><span class="loader-inner"></span></span>
                    </div>

                </form>
            </div>
    </body>
}






