
@using System.Security.Claims
@if (User.Identity.IsAuthenticated)


{
    var identity = User.Identity as ClaimsIdentity;
    var managerDisplay = "none";
    var adminDisplay = "none";
    string emailId = identity.Claims.FirstOrDefault(c => c.Type == "preferred_username")?.Value;
    string UserName = (User.Identities.FirstOrDefault().Claims.Where(c => c.Type.Equals("name")).FirstOrDefault().Value);
    var split = UserName.Split(" ");
    var firstName = split[0];
    var lastName = " ";
    string managerAdminApprove = "pending";

    if (split.Length == 2)
    {
        lastName = split[1];
    }

    if ((identity.Claims.Any(c => c.Type == "groups" && c.Value.Equals("48b47645-cabb-4ca9-8749-5e1e79b1a9dc"))) == true)
    {
        adminDisplay = "block";
        lastName = null;
        firstName = null;
        emailId =null;
        managerAdminApprove = "approve";

    }
    if ((identity.Claims.Any(c => c.Type == "groups" && c.Value.Equals("c9b7fa80-eb0a-4f65-8aca-59e8712c6f02"))) == true)
    {
        managerDisplay = "block";
        adminDisplay = "block";
        lastName = null;
        firstName = null;
        emailId = null;
        managerAdminApprove = "approve";
    }

<head>


    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
    <meta charset="utf-8">
    <script scr="jquery-2.1.4.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/js/bootbox.js"></script>
    <script type="text/javascript">
            var sponsorFirstName = "";
            var sponsorLastName = "";
            var sponsorName = "";
        $(document).ready(function () {
            $("#loader-wrapper").hide();
                sponsorFirstName = "";
                sponsorLastName = "";
                sponsorName = "";
            GetTeamNames();
            $('#sponsorDetails').hide();
            $('#reportingManagerEmailId').hide();
            $('#sponsorGidHidden').hide();


        });
        var x = setInterval(Reminder,86400000);
        function Reminder() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("SendReminder", "Email")',
                success: function (response) {

                }
            })
        }

        function GetTeamNames() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetSponsorDetails", "Teams")',
                dataType: "json",
                success: function (response) {
                    $('#teamNames').append(
                        $('<option selected disabled hidden></option>').val('').html('Choose Here')
                    );
                    $.each(response, function (i, item) {
                        $('#teamNames').append($('<option>', {
                            value: item.teamName,
                            text: item.teamName
                        }));

                    });
                }
            })
        }

        $(document).on("change", "#teamNames", function (e) {
            var teamName = $('#teamNames').val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetSponsorDetails", "Teams")',
                dataType: "json",
                success: function (response) {


                    $.each(response, function (i, item) {
                        if (item.teamName == teamName) {
                            sponsorFirstName = item.sponsorFirstName;
                            sponsorLastName = item.sponsorLastName;
                            sponsorName = item.sponsorFirstName + " " + item.sponsorLastName;
                            $('#sponsorName').val(sponsorName);
                            $('#sponsorEmail').val(item.sponsorEmailID);
                            $('#sponsorDepartment').val(item.department);
                            $('#sponsorGid').val(item.sponsorGID);
                            $('#reportingManagerEmail').val(item.reportingManagerEmailID);
                            $('#sponsorDetails').show();
                            $('#toEmailId').val(item.sivantosPointEmailID);
                            $('#fromEmailId').val(item.cmEmailID);
                            $('#ccEmailId').val(item.ccEmailID);

                        }
                    });
                }
            })
        });

        var clicked = true;
        var preview = false;
        $(document).on("click", "#previewButton , #submitButton", function (e) {

            if (e.currentTarget.id == "previewButton") {
                preview = true;
            }
            else {
                preview = false;
            }
                if (clicked) {
                    clicked = false;
                    $("#loader-wrapper").show();

                fileData = new FormData();
                fileData.append('FirstName', $('#employeeFirstName').val());
                fileData.append('LastName', $('#employeeLastName').val());
                fileData.append('GId', $('#employeeGid').val());
                fileData.append('EmailID', $('#employeeEmail').val());
                fileData.append('LastWorkingDate', $('#employeeLastWorkingdate').val());
                fileData.append('TeamName', $('#teamNames').val());
                fileData.append('SponsorFirstName', sponsorFirstName);
                fileData.append('SponsorLastName', sponsorLastName);
                fileData.append('SponsorEmailID', $('#sponsorEmail').val());
                fileData.append('SponsorDepartment', $('#sponsorDepartment').val());
                fileData.append('SponsorGId', $('#sponsorGid').val());
                fileData.append('ToEmailID', $('#toEmailId').val());
                fileData.append('FromEmailID', $('#fromEmailId').val());
                fileData.append('CcEmailID', $('#ccEmailId').val());
                fileData.append('isDeactivatedWorkFlow', true);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddDetailsToDatabase", "Employees")',
                    dataType: "json",
                    data: fileData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response == true) {
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("CreateDeactivationPdf", "Pdf")',
                                data: { 'gId': $('#employeeGid').val() },
                                dataType: "json",
                                success: function (response) {
                                    if (response) {
                                        $("#loader-wrapper").hide();
                                        clicked = true;
                                        if (preview) {
                                            let pdfWindow = window.open("", "width=400,height=400,top=100,left=400", '_self')
                                            pdfWindow.document.write("<title>Deactivation Form PDF</title><iframe width='100%' height='100%' src='" + response + "'></iframe>")
                                        }
                                        bootbox.confirm
                                            ({
                                                message: "Do you wish to submit? no further changes can be made to the pdf after submission",
                                                buttons: {
                                                    confirm: {
                                                        label: 'Yes',
                                                        className: 'btn-class-here'

                                                    },
                                                    cancel: {
                                                        label: 'No',
                                                        className: 'btn-class-here'
                                                    }
                                                },
                                                callback: function (result) {  
                                                    if (result) {
                                                        $("#loader-wrapper").show();
                                                        $.ajax({
                                                            type: "POST",
                                                            url: '@Url.Action("PdfAttachmentEmail", "Email")',
                                                            data: { 'pdfFileArray': response.toString().replace('data:application/pdf;base64,', ''), 'employeeName': $('#employeeFirstName').val() + " " + $('#employeeLastName').val(), 'teamName': $('#teamNames').val(), 'sponsorGID': "", 'isActivationPDf': false },
                                                            dataType: "json",
                                                            success: function (result) {
                                                                if (result) {
                                                                    fileData = new FormData();
                                                                    fileData.append('EmployeeName', $('#employeeFirstName').val() + " " + $('#employeeLastName').val());
                                                                    fileData.append('EmployeeLastWorkingDate', $('#employeeLastWorkingdate').val());
                                                                    fileData.append('EmployeeGId', $('#employeeGid').val());
                                                                    fileData.append('EmployeeTeamName', $('#teamNames').val());
                                                                    fileData.append('SponsorFirstName', sponsorFirstName);
                                                                    fileData.append('SponsorLastName', sponsorLastName);
                                                                    fileData.append('DeactivationWorkFlowPdfAttachment', response.toString().replace('data:application/pdf;base64,', ''));
                                                                    fileData.append('ReportingManagerEmail', $('#reportingManagerEmail').val());
                                                                    fileData.append('WorkFlowStatus', "@managerAdminApprove");
                                                                    $.ajax({
                                                                        type: "POST",
                                                                        url: '@Url.Action("AddPendingDeactivationRequestToDatabase", "ManagerApproval")',
                                                                        data: fileData,
                                                                        processData: false,
                                                                        contentType: false,
                                                                        success: function (stream) {
                                                                            $("#loader-wrapper").hide();
                                                                            bootbox.alert("Your form has been sent sucessfully!");
                                                                            document.getElementById('employeeGid').value = "";
                                                                            document.getElementById('employeeLastWorkingdate').value = "";
                                                                            document.getElementById('teamNames').value = "";
                                                                            document.getElementById('employeeFirstName').value = "";
                                                                            document.getElementById('employeeLastName').value = "";
                                                                            document.getElementById('employeeEmail').value = "";
                                                                            $('#sponsorDetails').hide();

                                                                        }
                                                                    });
                                                                }
                                                            }
                                                        });
                                                    }


                                                }
                                            });
                                    }
                                }
                            });
                        }
                        else {
                            alert("Data counld not be updated. Try again")
                        }
                    }
                });
            }
        });
        
            var Regx = "^[A-Za-z ]+$";
        function ValidateFirstName() {
            if ($('#employeeFirstName').val().trim().search(Regx)) {
                document.getElementById('employeeFirstName').style.borderColor = 'red';
                $('#employeeFNameError').show();
                return false;
            } else {
                document.getElementById('employeeFirstName').style.borderColor = 'grey';
                $('#employeeFNameError').hide();
                return true;
            }
        }
        function ValidateLastName() {
            if ($('#employeeLastName').val().trim().search(Regx)) {
                document.getElementById('employeeLastName').style.borderColor = 'red';
                $('#employeeLNameError').show();
                return false;
            } else {
                document.getElementById('employeeLastName').style.borderColor = 'grey';
                $('#employeeLNameError').hide();
                return true;
            }
        }

        function checkDate() {
            var seletedDate = document.getElementById('employeeLastWorkingdate').value;
            var now = new Date();
            var dt1 = Date.parse(now),
                dt2 = Date.parse(seletedDate);
            if (dt2 < dt1) {
                document.getElementById('employeeLastWorkingdate').style.borderColor = 'red';
                $('#employeeDateError').show();
                return false;
            } else {
                document.getElementById('employeeLastWorkingdate').style.borderColor = 'grey';
                $('#employeeDateError').hide();
                return true;
            }
        }

        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        function ValidateEmail() {
            if ($('#employeeEmail').val().trim().search(expr)) {
                document.getElementById('employeeEmail').style.borderColor = 'red';
                $('#employeeEmailError').show();
                return false;
            } else {
                document.getElementById('employeeEmail').style.borderColor = 'grey';
                $('#employeeEmailError').hide();
                return true;
            }
        }

        $(function () {
            $("#submitButton , #previewButton ").click(function (e) {
                if (document.getElementById('employeeFirstName').value == "" || ValidateFirstName() == false) {
                    alert("Please provide your First Name");
                    document.getElementById('employeeFirstName').focus();
                    return false;
                }
                if (document.getElementById('employeeLastName').value == "" || ValidateLastName() == false) {
                    alert("Please provide your Last Name");
                    document.getElementById('employeeLastName').focus();
                    return false;
                }
                if (document.getElementById('employeeGid').value == "") {
                    alert("Please provide your GID");
                    document.getElementById('employeeGid').focus();
                    return false;
                }
                if (document.getElementById('employeeEmail').value == "" || ValidateEmail() == false) {
                    alert("Please provide your Email");
                    document.getElementById('employeeEmail').focus();
                    return false;
                }
                if (document.getElementById('employeeLastWorkingdate').value == "" || checkDate() == false) {
                    alert("Please provide your Last Working date");
                    document.getElementById('employeeLastWorkingdate').focus();
                    return false;
                }
                if (document.getElementById('teamNames').value == "") {
                    alert("Please select your team");
                    return false;
                }
            });
        });



    </script>

    <style>

        #header {
            width: 102%;
            margin-top: 0px;
            padding: 20px;
            margin-bottom: 5px;
            background-color: black;
            height: 20%;
            position: relative;
        }

        .headerText {
            text-align: center;
            font-size: 30px;
            color: white;
            position: absolute;
            margin-left: 35%;
            margin-top: 5px;
        }

        .loader-wrapper {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(1,1,1,0.7);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loader {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            border: 4px solid white;
            animation: loader 2s infinite ease;
        }

        .loader-inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: azure;
            animation: loader-inner 2s infinite ease-in;
        }

        @@keyframes loader {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(180deg);
            }

            50% {
                transform: rotate(180deg);
            }

            75% {
                transform: rotate(360deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        @@keyframes loader-inner {
            0% {
                height: 0%;
            }

            25% {
                height: 0%;
            }

            50% {
                height: 100%;
            }

            75% {
                height: 100%;
            }

            100% {
                height: 0%;
            }
        }



        #configureButton, #sponsorDetailsButton, #viewReportButton, #workflowButton {
            margin-left: 90%;
            color: white;
        }


            #configureButton:hover, #sponsorDetailsButton:hover, #viewReportButton:hover, #workflowButton:hover {
                font-size: 103%;
                color: darkgrey;
                cursor: default;
            }


        .form {
            margin-top: 32px;
            margin-left: 33%;
        }

        #TextField {
            white-space: nowrap;
            padding-left: 0px;
        }

        #hello {
            color: blue;
            font-size: 17px;
            text-align: center;
        }

        #inputTextbox {
            margin-left: 70px;
            width: 400px;
        }

        .ErrorView {
            color: red;
            margin-left: 183px;
        }

        .regular-field {
            text-align: center;
        }

        .radio-but1 {
            margin-right: 5px;
        }

        #radio-1-txt {
            margin-right: 10px;
        }

        @@media only screen and (max-width:880px) {

            #header {
                width: 130%;
            }

            #configureButton, #sponsorDetailsButton, #viewReportButton {
                background-color: blue;
            }

            .ErrorView {
                margin-left: 80px;
            }

            #submitButton {
                position: center;
            }
        }
    </style>

</head>

    <body>
        <div id="header">
            <h2 class="headerText">Employee Deactivation Form </h2>
            <div id="sponsorDetailsButton" style="display:@managerDisplay" onclick="window.open('@Url.Action("AdminPage", "Admin")','_self')">Sponsor Details</div>
            <div id="configureButton" style="display:@managerDisplay" onclick="window.open('@Url.Action("AdminConfigurationPage", "Admin")','_self')">Configuration</div>
            <div>
                <div id="viewReportButton" style="display:@adminDisplay" onclick="window.open('@Url.Action("AccountDeactivationDatePage", "Admin")','_self')">View Report</div>
            </div>
            <div>
                <div id="workflowButton" style="display:@adminDisplay" onclick="window.open('@Url.Action("ManagerApprovalPage", "ManagerApproval")','_self')">Workflow</div>

            </div>
        </div>
        <br/>

        <div class="regular-field" id="act/de_toggel" style="display:@adminDisplay" >

            <input type="radio" id="radio-six" name="notaswitch-one" value="yes" checked onchange="window.open('@Url.Action("EmployeeDeactivationForm", "Employees")','_self')" />
            <label for="radio-six" id="radio-1-txt">Deactivation Form</label>

            <input type="radio" id="radio-seven" name="notaswitch-one" value="maybe" onclick="window.open('@Url.Action("EmployeeActivationForm", "Employees")','_self')" />
            <label for="radio-seven">Activation Form</label>

        </div>

        <div class="form">
            <form class="form-group" action="Create">

                <div class="form-group row">
                    <label class="control-label col-sm-1" id="TextField">
                        First Name:
                    </label>
                    <div class="col-sm-3" id="inputTextbox">
                        <input type="text" value=@firstName class="form-control" id="employeeFirstName" onkeyup="ValidateFirstName()" placeholder="First Name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label id="employeeFNameError" hidden class="ErrorView">only Alphabets are allowed</label>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-1" id="TextField">
                        Last Name:
                    </label>
                    <div class="col-sm-3" id="inputTextbox">
                        <input type="text" value=@lastName " " class="form-control" id="employeeLastName" onkeyup="ValidateLastName()" placeholder="Last Name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label id="employeeLNameError" hidden class="ErrorView">only Alphabets are allowed</label>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-1" id="TextField">
                        GID:
                    </label>
                    <div class="col-sm-3" id="inputTextbox">
                        <input type="text" class="form-control" id="employeeGid" placeholder="GID" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-1" id="TextField">
                        Email:
                    </label>
                    <div class="col-sm-3" id="inputTextbox">
                        <input type="text" value=@emailId class="form-control" id="employeeEmail" placeholder="Email" onkeyup="ValidateEmail()" />
                    </div>
                </div>
                <div class="form-group row">
                    <label id="employeeEmailError" hidden class="ErrorView">Invalid Email Format</label>
                </div>

                <div class="form-group row">
                    <label class="control-label col-sm-1" id="TextField">
                        Last Working Date:
                    </label>
                    <div class="col-sm-3" id="inputTextbox">
                        <input type="date" class="form-control" id="employeeLastWorkingdate" onchange="checkDate()" min="2021-05-01" max="2050-01-01" />
                    </div>
                </div>
                <div class="form-group row">
                    <label id="employeeDateError" hidden class="ErrorView">Last Working Date must be in the future</label>
                </div>

                <div class="form-group row">
                    <label id="TextField" class="control-label col-sm-1">
                        Select Team :
                    </label>
                    <div class="col-sm-3" id="inputTextbox">
                        <select id="teamNames" class="form-control"></select>
                    </div>
                </div>

                <div id="sponsorDetails">

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Sponsor Name:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="sponsorName" readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Sponsor Email:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="sponsorEmail" readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-1" id="TextField">
                            Sponsor Department:
                        </label>
                        <div class="col-sm-3" id="inputTextbox">
                            <input type="text" class="form-control" id="sponsorDepartment" readonly />
                        </div>
                    </div>


                </div>

                <div id="sponsorGidHidden">
                    <input type="text" class="form-control" id="sponsorGid" readonly />
                    <input type="text" class="form-control" id="toEmailId" readonly />
                    <input type="text" class="form-control" id="fromEmailId" readonly />
                    <input type="text" class="form-control" id="ccEmailId" readonly />
                </div>

                <div id="reportingManagerEmailId">
                    <input type="text" class="form-control" id="reportingManagerEmail" readonly />
                </div>


                <div class="form-group row" style="padding-left:2px">
                    <br />
                    <input type="button" value="Preview Pdf" class="btn btn-primary" style="margin-right:5px" id="previewButton" />
                    <input type="button" value="Submit" class="btn btn-success" id="submitButton" />
                </div>

                <div class="loader-wrapper" id="loader-wrapper">
                    <span class="loader"><span class="loader-inner"></span></span>
                </div>

            </form>
        </div>
    </body>
}






