
<head>
    <script src="~/js/Toastr.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="~/css/AdminPage.css" rel="stylesheet" />
    <script src="~/js/bootbox.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#loader-wrapper").hide();

            $.ajax({
                type: "GET",
                url: '@Url.Action("SponsorDetails", "Admin")',
                dataType: "json",
                success: function (response) {
                    var row;
                    $.each(response, function (i, item) {

                        row += "<tbody><tr class=item><td id=team >" + item.teamName + "</td><td id=fn>" + item.sponsorFirstName + " " + item.sponsorLastName + "</td><td id=ln>" + item.sponsorGID + "</td><td id=em>" + item.sponsorEmailID + "</td><td id=dep>" + item.department + "</td><td id=rm>" + item.reportingManagerEmailID + "</td><td><span id=edit class='glyphicon glyphicon-pencil cursor' style='font-size:30px;color:blue'></span><span id=delete class='glyphicon glyphicon-remove cursor' style='font-size:30px;color:red'></span></td></tr></tbody>"

                    });
                    $("#tbldata").append(row);
                }
            })

           $.ajax({
                type: "GET",
                url: '@Url.Action("GetConfigurationDetails", "Email")',
                dataType: "json",
                success: function (response) {
                    $.each(response, function (i, item) {
                        if (item.tokenName == "ActivationMail") {
                            $("#ActivationMailContent").val(item.tokenValue)
                        }
                        if (item.tokenName == "DeactivationMail") {
                            $("#DeactivationMailContent").val(item.tokenValue)
                        }
                        if (item.tokenName == "ReminderMail") {
                            $("#RemainderMailContent").val(item.tokenValue)
                        }
                        if (item.tokenName == "DeclinedMail") {
                            $("#DeclinedMailContent").val(item.tokenValue)
                        }
                        if (item.tokenName == "SendGrid") {
                            $("#TokenValue").val(item.tokenValue)
                        }
                        if (item.tokenName == "EmailTimer") {
                            $("#emailTimer").val(item.tokenValue)
                        }
                    });
                }
            })

        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })



        $(document).on("click", "#delete", function (e) {
            var $row = $(this).closest("tr"),
                $tds = $row.find("td:nth-child(1)").text();
            bootbox.dialog({
                message: "Are you sure you want to delete the selected sponsor details?",
                size: "small",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        callback: function (result) {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("DeleteSponsorDetails", "Admin")',
                                data: { 'teamName': $tds },
                                dataType: "json",
                                success: function (response) {
                                    if (response == true) {
                                        bootbox.alert("Sponsor detail sucessfully deleted", function () {
                                            window.location.reload();
                                        });

                                    }
                                    else {
                                        alert("data could not be deleted. Try again")
                                    };

                                }
                            });

                        }
                    },
                    cancel: {
                        label: 'No',
                    }
                }
            })
        });

        $(document).on("click", "#edit", function (e) {
            var teamName = $(this).closest("tr").find("td:nth-child(1)").text();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SponsorDetailsAccordingToTeamName", "Admin")',
                dataType: "json",
                data: { 'teamName': teamName },
                    success: function (response)
                    {
                        if (response) {
                            $('#editTeamName').val(response.teamName);
                            $('#editFirstName').val(response.sponsorFirstName);
                            $('#editLastName').val(response.sponsorLastName);
                            $('#editgid').val(response.sponsorGID);
                            $('#editDepartment').val(response.department);
                            $('#editRmEmail').val(response.reportingManagerEmailID);
                            $('#editSponsorEmail').val(response.sponsorEmailID);
                            $('#editFromEmail').val(response.cmEmailID);
                            $('#editToEmail').val(response.sivantosPointEmailID);
                            $('#editCcEmail').val(response.ccEmailID);
                            openForm1();

                        }
                    }
                });



            $(document).on("click", "#submit2", function (e) {
                $("#loader-wrapper").show();
                fileData = new FormData();
                fileData.append('TeamName', $('#editTeamName').val());
                fileData.append('SponsorFirstName', $('#editFirstName').val());
                fileData.append('SponsorLastName', $('#editLastName').val());
                fileData.append('SponsorEmailID', $('#editSponsorEmail').val());
                fileData.append('SponsorGID', $('#editgid').val());
                fileData.append('Department', $('#editDepartment').val());
                fileData.append('ReportingManagerEmailID', $('#editRmEmail').val());
                fileData.append('CmEmailID', $('#editFromEmail').val());
                fileData.append('SivantosPointEmailID', $('#editToEmail').val());
                fileData.append('CcEmailID', $('#editCcEmail').val());
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddSponsorDetailsToDatabase", "Admin")',
                    dataType: "json",
                    data:fileData,
                    processData: false,
                    contentType: false,
                    success:
                        function (response) {
                            $("#loader-wrapper").hide();
                            if (response == true) {
                                window.location.reload();
                            }
                            else {
                                alert("data could not be updated. Try again")
                            }
                    }


                });
            });
        });


        $(document).on("click", "#addButton", function (e) {
            e.preventDefault();
            openForm();
            $(document).on("click", "#submit1", function (e) {
                e.preventDefault();
                $("#loader-wrapper").show();
                var formData = new FormData();
                formData.append('TeamName', $('#teamName').val().toString());
                formData.append('SponsorFirstName', $('#sponsorFirstName').val().toString());
                formData.append('SponsorLastName', $('#sponsorLastName').val().toString());
                formData.append('SponsorEmailID', $('#sponsorEmail').val().toString());
                formData.append('SponsorGID', $('#sponsorGid').val().toString());
                formData.append('Department', $('#sponsorDepartment').val().toString());
                formData.append('ReportingManagerEmailID', $('#reportingManEmail').val().toString());
                formData.append('CmEmailID', $('#fromEmail').val().toString());
                formData.append('SivantosPointEmailID', $('#toEmail').val().toString());
                formData.append('CcEmailID', $('#ccEmail').val().toString());
                for (var value of formData.values()) {
                    console.log(value);
                }
                $.ajax({
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formData,
                    type: "POST",
                    url: '@Url.Action("AddSponsorDetailsToDatabase", "Admin")',
                    success: function (response)
                    {
                        $("#loader-wrapper").hide();
                        if (response == true) {

                            window.location.reload();
                        }
                        else {
                            alert("data could not be updated. Try again")
                        }
                    }
                });
            });
        });

        $(document).on("click", "#MailContentButton", function (e) {
            $("#loader-wrapper").show();
             $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddConfigurationToDatabase", "Email")',
                    dataType: "json",
                    data: { "SendGrid": $('#TokenValue').val(), "EmailTimer": $('#emailTimer').val()},
                 success: function (response) {
                     if (response == true) {
                         $("#loader-wrapper").hide();
                         window.location.reload();
                         alert("Mail Configuration updated");
                     } else {
                         alert("data could not be updated. Try again")
                     }
                 }
             });

        });

        function openForm1()
        {
            document.getElementById("myForm1").style.display = "block";

        }
        function closeForm1()
        {
            document.getElementById("myForm1").style.display = "none";
        }
        function openForm()
        {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm()
        {
            document.getElementById("myForm").style.display = "none";
        }

        var Regx = "^[A-Za-z ]+$";
        function ValidateTeamName() {
            if ($('#teamName').val().trim().search(Regx)) {
                return true;
            } else {
                return false;
            }
        }

        function ValidateFirstName() {
            if ($('#sponsorFirstName').val().trim().search(Regx)) {
                return true;
            } else {
                return false;
            }
        }

        function ValidateEditFirstName() {
            if ($('#editFirstName').val().trim().search(Regx)) {
                return true;
            } else {
                return false;
            }
        }

        function ValidateLastName() {
            if ($('#sponsorLastName').val().trim().search(Regx)) {
                return true;
            } else {
                return false;
            }
        }

        function ValidateEditLastName() {
            if ($('#editLastName').val().trim().search(Regx)) {
                return true;
            } else {
                return false;
            }
        }

        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        function ValidateSponsorEmail() {
            if ($('#sponsorEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        function ValidateEditSponsorEmail() {
            if ($('#editSponsorEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        function ValidateEditRMEmail() {
            if ($('#editRmEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        function ValidateRMEmail() {
            if ($('#reportingManEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        function ValidateFromEmail() {
            if ($('#fromEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        function ValidateEditFromEmail() {
            if ($('#editFromEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        function ValidateToEmail() {
            if ($('#toEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        function ValidateEditToEmail() {
            if ($('#editToEmail').val().trim().search(expr)) {
                return false;
            } else {
                return true;
            }
        }

        $(function () {
            $("#submit1").click(function (e) {
                if (document.getElementById('teamName').value == "" || ValidateTeamName() == true) {
                    alert("Please provide Team Name");
                    document.getElementById('teamName').focus();
                    return false;
                }
                if (document.getElementById('sponsorFirstName').value == "" || ValidateFirstName() == true) {
                    alert("Please provide First Name");
                    document.getElementById('sponsorFirstName').focus();
                    return false;
                }
                if (document.getElementById('sponsorLastName').value == "" || ValidateLastName() == true) {
                    alert("Please provide Last Name");
                    document.getElementById('sponsorLastName').focus();
                    return false;
                }
                if (document.getElementById('sponsorEmail').value == "" || ValidateSponsorEmail() == false) {
                    alert("Please provide Sponsor Email");
                    document.getElementById('sponsorEmail').focus();
                    return false;
                }
                if (document.getElementById('sponsorDepartment').value == "") {
                    alert("Please provide sponsor department");
                    return false;
                }
                if (document.getElementById('reportingManEmail').value == "" || ValidateRMEmail() == false) {
                    alert("Please provide reporting manager email");
                    document.getElementById('reportingManEmail').focus();
                    return false;
                }
                if (document.getElementById('fromEmail').value == "" || ValidateFromEmail() == false) {
                    alert("Please provide CM email");
                    document.getElementById('fromEmail').focus();
                    return false;
                }
                if (document.getElementById('toEmail').value == "" || ValidateToEmail() == false) {
                    alert("Please provide Sivantos Activation Request Point of Contact Id");
                    document.getElementById('toEmail').focus();
                    return false;
                }
                if (document.getElementById('ccEmail').value == "" ) {
                    alert("Please provide cc of email");
                    document.getElementById('ccEmail').focus();
                    return false;
                }
            });
        });

        $(function () {
            $("#submit2").click(function (e) {

                if (document.getElementById('editFirstName').value == "" || ValidateEditFirstName() == true) {
                    alert("Please provide First Name");
                    document.getElementById('editFirstName').focus();
                    return false;
                }
                if (document.getElementById('editLastName').value == "" || ValidateEditLastName() == true) {
                    alert("Please provide Last Name");
                    document.getElementById('editLastName').focus();
                    return false;
                }
                if (document.getElementById('editSponsorEmail').value == "" || ValidateEditSponsorEmail() == false) {
                    alert("Please provide Sponsor Email");
                    document.getElementById('editSponsorEmail').focus();
                    return false;
                }
                if (document.getElementById('editDepartment').value == "") {
                    alert("Please provide sponsor department");
                    return false;
                }
                if (document.getElementById('editRmEmail').value == "" || ValidateEditRMEmail() == false) {
                    alert("Please provide Reporting manager email");
                    document.getElementById('editRmEmail').focus();
                    return false;
                }
                if (document.getElementById('editFromEmail').value == "" || ValidateEditFromEmail() == false) {
                    alert("Please provide CM email");
                    document.getElementById('editFromEmail').focus();
                    return false;
                }
                if (document.getElementById('editToEmail').value == "" || ValidateEditToEmail() == false) {
                    alert("Please provide Sivantos Activation Request Point of Contact Id");
                    document.getElementById('editToEmail').focus();
                    return false;
                }
                if (document.getElementById('editCcEmail').value == "") {
                    alert("Please provide cc of email");
                    document.getElementById('editCcEmail').focus();
                    return false;
                }
            });
        });
    </script>

</head>
<body>
    <div class="header">
        <h2> Sponsor Details </h2>
    </div>
    <button type="button" id="backButton" class="btn btn-outline-secondary" onclick="window.open('@Url.Action("EmployeeDeactivationForm", "Employees")', '_self')">Back</button>
    <div class="tablee">

        <table id="tbldata" class="table table-bordered ">
            <thead>
                <tr>
                    <th scope="col" onclick="w3.sortHTML('#tbldata', '.item', 'td:nth-child(1)')" style="cursor:pointer"> Team</th>
                    <th scope="col" onclick="w3.sortHTML('#tbldata', '.item', 'td:nth-child(2)')" style="cursor:pointer"> Sponsor Name</th>
                    <th scope="col" onclick="w3.sortHTML('#tbldata', '.item', 'td:nth-child(3)')" style="cursor:pointer"> GID</th>
                    <th scope="col" onclick="w3.sortHTML('#tbldata', '.item', 'td:nth-child(4)')" style="cursor:pointer"> Sponsor Email</th>
                    <th scope="col" onclick="w3.sortHTML('#tbldata', '.item', 'td:nth-child(5)')" style="cursor:pointer"> Sponsor Department</th>
                    <th scope="col" onclick="w3.sortHTML('#tbldata', '.item', 'td:nth-child(6)')" style="cursor:pointer"> Reporting Manager Email</th>

                    <th scope="col"> Action</th>

                </tr>
            </thead>

        </table>

    </div>
    <input type="button" value="ADD" class="btn btn-default" id="addButton" />


    <div id="mailConfig">
        <hr />


            <h3>Send Email Remainder every :</h3>

     
        <div class="form-group row">


            <div class="col-sm-3" id="inputTextbox" data-toggle="dropdown">
                <select id="emailTimer" class="form-control" data-toggle="tooltip" data-placement="right"  title="Effects both activation and deactivation remainder emails">
                    <option value="1">1 day</option>
                    <option value="2">2 days</option>
                    <option value="4">4 days</option>
                    <option value="7">1 week</option>
                    <option value="15">15 days</option>
                </select>
            </div>
        </div>


        <hr />

        <div>
            <h3>Api Token Configuration</h3>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Token Name:</label>
            <textarea class="form-control" id="TokenName" rows="1" placeholder="SendGrid" readonly></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Token Value:</label>
            <textarea class="form-control" id="TokenValue" rows="1"></textarea>
        </div>


        <button type="button" id="MailContentButton" class="btn btn-primary">Submit</button>

    </div>
    <div id="pop1">
        <div class="form-popup" id="myForm">
            <form class="form-container">
                <h3>Add Sponsor Details</h3>
                <div class="required">
                    <label for="text"><b>Team Name</b></label>
                </div>
                <input type="text" placeholder="Team Name" id="teamName" name="team" onkeyup="ValidateTeamName()" required>

                <div class="required">
                    <label for="firstname"><b>Sponsor First Name</b></label>
                </div>
                <input type="text" placeholder="First Name" id="sponsorFirstName" name="firstname" onkeyup="ValidateFirstName()" required>
                <div class="required">
                    <label for="lastname"><b>Sponsor Last Name </b></label>
                </div>
                <input type="text" placeholder="Last Name" id="sponsorLastName" name="lastname" onkeyup="ValidateLastName()" required>

                <label for="gid"><b>Sponsor GID</b></label>
                <input type="text" placeholder="GID" id="sponsorGid" name="gid">

                <div class="required">
                    <label for="email"><b>Sponsor Email Id </b></label>
                </div>
                <input type="email" placeholder="Email Id" id="sponsorEmail" name="email" onkeyup="ValidateSponsorEmail()" required>
                <div class="required">
                    <label for="department"><b>Sponsor Department </b></label>
                </div>
                <input type="text" placeholder="Department" id="sponsorDepartment" name="department" required>
                <div class="required">
                    <label for="email"><b>Reporting Manager Email Id </b></label>
                </div>
                <input type="email" placeholder="Email Id" id="reportingManEmail" name="Rmemail" onkeyup="ValidateRMEmail()" required>

                <div class="required">
                    <label for="email"><b>CM Email Id</b></label>
                </div>
                <input type="email" value="vr.arun@siemens.com" id="fromEmail" name="Fromemail" onkeyup="ValidateFromEmail()" placeholder="Email Id" required>
                
                <div class="required">
                    <label for="email"><b>Sivantos Activation Request Point of Contact Email ID</b></label>
                </div>
                <input type="email" placeholder="Email Id" id="toEmail" name="Toemail" value="abc@siemens.com" onkeyup="ValidateToEmail()" required>

                <div class="required">
                    <label for="email"><b>Cc Email Id</b></label>
                    </div>
                   <input type="email" placeholder="CC Email" id="ccEmail" name="Ccemail" required>


                    <button type="submit" id="submit1" class="btn">Submit</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

            </form>
        </div>
    </div>
    <div id="pop2">
        <div class="form-popup" id="myForm1">
            <form class="form-container">
                <h3>Edit Sponsor Details</h3>

                <label for="Team"><b>Team Name</b></label>
                <input type="text" placeholder="Team Name" name="team" id="editTeamName" readonly>

                <label for="firstname"><b>Sponsor First Name</b></label>
                <input type="text" placeholder="First Name" name="firstname" onkeyup="ValidateEditFirstName()" id="editFirstName" required>

                <label for="lastname"><b>Sponsor Last Name</b></label>
                <input type="text" placeholder="Last Name" name="lastname" onkeyup="ValidateEditLastName()" id="editLastName" required>

                <label for="gid"><b>Sponsor GID</b></label>
                <input type="text" placeholder="GID" name="gid" id="editgid">

                <label for="email"><b>Sponsor Email Id</b></label>
                <input type="email" placeholder="Email Id" name="email" onkeyup="ValidateEditSponsorEmail()" id="editSponsorEmail" required>

                <label for="department"><b>Sponsor Department</b></label>
                <input type="text" placeholder="Department" name="department" id="editDepartment" required>

                <label for="email"><b>Reporting Manager Email Id</b></label>
                <input type="email" placeholder="Email Id" onkeyup="ValidateEditRMEmail()" id="editRmEmail" required>

                <label for="email"><b>CM Email Id</b></label>
                <input type="email" id="editFromEmail" name="Fromemail" onkeyup="ValidateEditFromEmail()" required>

                <label for="email"><b>Sivantos Activation Request Point of Contact Id</b></label>
                <input type="email" id="editToEmail" name="Toemail" onkeyup="ValidateEditToEmail()" required>

                <label for="email"><b>Cc Email Id</b></label>
                <input type="email" id="editCcEmail" name="Ccemail" required>


                <button type="submit" id="submit2" class="btn">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm1()">Close</button>

            </form>
        </div>
    </div>
    <div class="loader-wrapper" id="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</body>



